*
!*Assets/
!*Assets/*
!*Assets/*/*
!*Assets/*/*/*
!*Assets/*/*/*/*
!*Assets/*/*/*/*/*
!*Assets/*/*/*/*/*/*
!*Assets/*/*/*/*/*/*/*
!*Assets/*/*/*/*/*/*/*/*
!*ProjectSettings/
!*ProjectSettings/*
!*ProjectSettings/*/*
!*ProjectSettings/*/*/*
!*ProjectSettings/*/*/*/*
!*ProjectSettings/*/*/*/*/*
!*.gitignore
